# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/保安休息日排班系统/v17/ipch/AutoPCH/92489bf64fb66a94
/.vs/保安休息日排班系统/FileContentIndex
/.vs/保安休息日排班系统/v17
